{% extends 'base.html' %}
{% load static %}
{% block title %}Login | ShopZone{% endblock %}


{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/style4.css' %}">

{% endblock %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/script2.js' %}"></script>

 
{% endblock %}
{% block content %}
<div class="form-wrapper">
    <h2>Welcome Back 👋</h2>
    <form method="POST" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field }}
                {% if field.errors %}
                    <p class="error">{{ field.errors.0 }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn form-btn">Login</button>
    </form>
    <p class="form-footer">
        Don’t have an account? <a href="{% url 'register' %}">Register here</a>
    </p>
</div>
{% endblock %}
